* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #222;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #ff5e00;
    color: white;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.brand {
    font-size: 22px;
    font-weight: bold;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a.active {
    text-decoration: underline;
}

/* HERO */
.hero {
    padding: 100px 20px;
    text-align: center;
    background: url('burger.jpg') center/cover no-repeat;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.hero .btn {
    padding: 12px 25px;
    background: #ff5e00;
    border-radius: 8px;
    color: white;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* ABOUT */
.about {
    padding: 50px 20px;
    text-align: center;
}

.about-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* ITEMS */
.items {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 40px;
}

.item {
    background: white;
    padding: 15px;
    width: 240px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.item img {
    width: 100%;
    border-radius: 12px;
    height: 170px;
    object-fit: cover;
}

.btn {
    background: #ff5e00;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

/* CONTACT */
.contact {
    padding: 50px 20px;
    text-align: center;
    background: #fff3e6;
}

.contact-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.c-btn {
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.whatsapp { background: #25D366; }
.call { background: #ff5e00; }

/* FOOTER */
footer {
    padding: 15px;
    background: #222;
    color: white;
    text-align: center;
    margin-top: 30px;
}

/* MOBILE */
@media (max-width: 700px) {
    .about-grid {
        flex-direction: column;
    }

    .items {
        padding: 10px;
    }

    .hero {
        padding: 60px 10px;
    }
}


.logo img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}
